@use "colors" as c;
@use "_btn";

.card{
    border-radius: 12px;
    background-color: c.$VeryPaleBlue;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    flex-wrap: wrap;
    gap: 2em;
    &__img{
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;
        &>.img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title{
            font-weight: 600;
            font-size: 1.6rem;
            text-align: center;
            margin: 0;
        }
        &__text{
            width: 100%;
            font-size: 16px;
            color: c.$DesaturatedBlue;
            text-align: center;
            line-height: 1.5;
        }
    }
    &__plan{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: 0 1em;
        margin: 0 1em;
        width: 322px;
        border-radius: 12px;
        background-color: #e0e8ff5b;
        &__body{
            display: flex;
            align-items: center;
            gap: 1em;
        }
        &__details{
            font-size: 0.8rem;
            &__title{
                font-weight: 900;
            }
        }
    }
    &__footer{
        display: flex;
        flex-direction: column;
        margin: 0 1em;
        gap: 1em;
        padding-bottom: 1em;
    }
}